body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-family: 'Arial', sans-serif;
	font-size: 1.25em;
}
h1, h2, h3 {
	text-align: center;
}
form { 
	border: 1px dotted gray;
	padding: 2%;
}
form input, form label { 
	display: block;
	margin: auto;
	width: 75%;
}
form label {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
#loginsubmit {
	margin-top: 10px;
	margin-bottom: 10px;
	width: fit-content;
}