body {
	font-family: 'Helvetica', sans-serif;
	font-size: 1.25em;
}
main {
	width: 50%;
	margin: 60px auto auto auto;
	border: 1px dotted gray;
}
#selsoundfield, #upsoundfield {
	width: fit-content;
	padding: 2%;
	text-align: center;
	display: inline;
}	
#selsoundfield select, #selsoundfield label {
	display: block;
	margin: auto;
}
#selcontrols {
	padding: 2%;
	margin: auto;
}